apiVersion: batch/v1
kind: CronJob
metadata:
  name: reddit-bot
spec:
  jobTemplate:
    spec:
      template:
        spec:
          containers:
            - name: reddit-bot
              image: dima032398485/reddit_bot:c6e84f4727ae4ea0fbde2cf090277e8fd8e8d7b1